// *************************************
//
//   Font-icon
//
// *************************************

.icon-player--play:before
	content: '\e800'

.icon-player--stop:before
	content: '\e801'

.icon-queue--playig:before
	content: '\e802'

.icon-queue:before
	content: '\e803'

.icon-history:before
	content: '\e804'

.icon-volume--on:before
	content: '\e806'

.icon-volume--off:before
	content: '\e805'

.icon-search:before
	content: '\e807'

.icon-dropDown:before
	content: '\e808'

.icon-list:before
	content: '\e809'

.icon-openQueue
	width: 28px
	height: 30px
	div
		width: 100%
		height: 5px
		background: white
		margin: 4px auto
		transition: all 0.3s
		backface-visibility: hidden
	&.on .one
		transform: rotate(45deg) translate(5px, 5px)
	&.on .two
		opacity: 0
	&.on .three
		transform: rotate(-45deg) translate(7px, -8px)
