// *************************************
//
//   Font-icon
//
// *************************************

.icon-play:before
	content: '\e800'

.icon-stop:before
	content: '\e801'

.icon-note:before
	content: '\e802'

.icon-headphones:before
	content: '\e803'

.icon-clock:before
	content: '\e804'

.icon-volume-up:before
	content: '\e805'

.icon-volume-off:before
	content: '\e806'

.icon-search:before
	content: '\e807'

.icon-down-dir:before
	content: '\e808'