// *************************************
//
//   Table
//   > song list
//
// *************************************

%table
	thead
		font-weight: bold
		font-size: $b-fontSize-l
		border-bottom: 2px $songlist-border solid
		text-align: left
		th
			padding: $b-space-xs + 0.2em
			&:first-child
				text-align: center
			&:last-child
				text-align: center
				width: $b-space-l
				+susy-breakpoint($breakpoint-tablet, 8)
					width: $b-space-l + 2em
			&:nth-last-child(2)
				text-align: center
				width: $b-space-l
				+susy-breakpoint($breakpoint-tablet, 8)
					width: $b-space-l + 2em

	tbody
		tr
			border-bottom: 1px $songlist-border solid
		td
			padding: $b-space-xs + 0.2em
			&:first-child
				text-align: center
			&:last-child
				text-align: center
			&:nth-last-child(2)
				text-align: center
