// *************************************
//
//   Queue List
//
// *************************************

// .queueList

// -------------------------------------
//   Scaffolding
// -------------------------------------

// -------------------------------------
//   Status
// -------------------------------------

// -------------------------------------
//   Mobile
// -------------------------------------

.mobileList
	display: none

// ----- icon ----- //

.icon-openQueue
	z-index: 9999
	cursor: pointer
	float: right
	margin-top: $b-space-s + 1em
	margin-right: gutter(3)
	pointer-events: auto
	clear: both
	+susy-breakpoint($breakpoint-desk, 12)
		display: none
	&:hover

// ----- queue & history list ----- //

.queueList-mobile
	position: fixed
	height: 100%
	width: 100%
	z-index: 9999
	pointer-events: none
	&.is-active
		pointer-events: auto

%songlist-mobile
	margin: $b-space gutter(3)
	padding-right: $b-space
	overflow-x: auto
	top: 0

.queueList-mobileList
	@extend %songlist-mobile
	ul:first-child
		margin-top: 0

	+susy-breakpoint($breakpoint-tablet, 8)
		ul
			width: 40%
			display: inline-block

.queueList-mobileTitle
	position: relative
	font-size: $b-fontSize-xl
	i
		position: absolute
		margin-left: - ($b-space-s + 0.8em)

// -------------------------------------
//   Status
// -------------------------------------
