// *************************************
//
//   Song List
//
// *************************************

.songList
	margin: 0 gutter(3)
	+susy-breakpoint($breakpoint-tablet, 8)
		margin: 0 gutter(4)

// -------------------------------------
//   Scaffolding
// -------------------------------------

.songList-table
	@extend %table
	width: 100%
	th:nth-child(4),
	th:nth-child(5),
	td:nth-child(4),
	td:nth-child(5)
		display: none
	.btn.is-active
		+text-shadow(0 -1px 1px rgba(white, .3))
		color: $button-disable-text
		background-color: $button-disable-background

	+susy-breakpoint($breakpoint-tablet, 8)
		th:nth-child(4),
		th:nth-child(5),
		td:nth-child(4),
		td:nth-child(5)
			display: table-cell

// ----- status ----- //

.songList-media--mobile
	display: block
	+susy-breakpoint($breakpoint-desk, 12)
		display: none

.songList-media--desktop
	display: none
	+susy-breakpoint($breakpoint-desk, 12)
		display: block

// ----- coverflow ----- //